{% extends 'base.html' %}

{% block content %}
<h1>About sweetness</h1>
<hr>
<p>
    Nullam pellentesque diam ac ligula porttitor molestie non feugiat velit. Fusce malesuada finibus purus nec venenatis. Vivamus quis venenatis dui, non iaculis ex. Sed tempus nibh ac dui lacinia, in dignissim turpis viverra. Mauris aliquet ipsum a eros maximus porta. Nam nulla erat, elementum vel orci at, euismod fringilla urna. Sed pharetra, sem eu varius cursus, nibh nulla interdum diam, nec viverra nisl metus ac odio. Ut in dolor ac dui ultricies pellentesque. Suspendisse placerat maximus ligula nec dignissim. Suspendisse in urna ut velit condimentum auctor. Cras augue augue, pulvinar in dapibus et, pulvinar quis lacus. Phasellus consequat massa purus, quis posuere nunc blandit ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris viverra metus eu molestie consequat. Fusce vitae est nec libero mattis dignissim in nec dui. Duis tempus urna ligula, vel suscipit risus lobortis et.
</p>
<p> 
    
</p>
<hr>

{% endblock %}